html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: #f3f3f3;
}

button{
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* HEADER */

.header {
  width: 100%;
  height: 100px;
  margin-left: 0px;
  padding: 0;
  position: fixed;
  z-index: 2;
}

.topHead {
  background-color: #0d0a24;
  color: white;
  height: 100px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(49, 211, 247, 0.5);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .3);
}

.backButtonChat, .personButtonChat, .optionButtonChat {
  position: relative;
  display: inline-block;
  height: 100%;
  background: transparent;
  border: none!important;
  outline: none!important;
  float: left;
  color: white;
}

.backButtonChat{
  width: 15%;
  font: 27px/22px arial, sans-serif;
  padding: 0 8px;
}

.backButtonChat i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
  margin-right: 5px;
}

.backButtonChat .leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.personButtonChat{
  width: 70%;
  font: 27px/22px arial, sans-serif;
  padding: 0 8px;
}


.optionButtonChat{
  width: 15%;
  font: 27px/22px arial, sans-serif;
  padding: 0 8px;
}

/* --- */

main.main {
  float: left;
  margin-top: 100px;
  width: 100%;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 100%;
  height: 100px;
  margin: 20px 0;
  border: none;
  padding: 20px;
}

#chat button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
}

.messages {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  padding: 20px;
}

/* Chat messages */